svg.board {
    background-color: green;
}
svg circle {
    stroke: black;
}
svg circle.white {
    fill: white;
}
svg circle.black {
    fill: black;
}
svg circle.none {
    fill: transparent;
    cursor: pointer;
}