svg.board {
    background-color: green;
}
svg circle {
    stroke: black;
}
svg circle.white {
    fill: white;
}
svg circle.black {
    fill: black;
}
svg circle.possible {
    fill: lightgray;
    cursor: pointer;
}
svg circle.none {
    stroke: none;
    fill: transparent;
}

svg line.grid {
    stroke: white;
}