@()

@moreJs() = {
    <script type="text/javascript">
        var dataset, nextColor;

        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
        var gameSocket = new WS(jsRoutes.controllers.Application.gameSocket().webSocketURL());

        var onPlay = function(d) {
            gameSocket.send(JSON.stringify([d[0], d[1]]));
        }

        othello.init(onPlay);

        gameSocket.onmessage = function(event) {
            var game = JSON.parse(event.data);
            console.log(game);
            dataset = game.board;
            nextColor = game.nextColor;
            othello.updateData(dataset, game.possibleMoves);
        };

    </script>
}

@main("Othello", moreJs()) {

}
